<!DOCTYPE html>

<html>

  <head>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>

  <style>
    body {
    font-family: 'Open Sans';
    font-size: 9pt;
    padding: 50px;
    text-align: center;
    }
  </style>

  <body>
    <h1>Login!</h1>
    {{ message }}
    <br><br>
    <form action="/auth/" method="POST">
      Username: <input type="text" name="user"><br>
      Password: <input type="password" name="pass"><br><br>
      <input type="submit" name="sub" value="Login"> 
      <input type="submit" name="sub" value="Register">
    </form>
  </body>

</html>
